@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */
:root {
  /* Fonts */
  --FF: "Nunito", sans-serif;
  --FF--HEADINGS: "Red+Hat+Display" Fraunces;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS*/
  --BGCOLOR: orange;
  --BGCOLOR-FADE: rgb(252, 220, 160);
  --BGIMAGE: linear-gradiant(
    to buttom,
    var(var(var(--BGCOLOR), var(var(--BGCOLOR-FADE))))
  );
  --BODY-BGCOLOR: #fff;
  --FONT-COLOR: #000;
}

/* || UTILITY CLASS */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/*
  GENERAL STYLE
*/
html {
  scroll-behavior: smooth;  
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
}
